.containerStyle {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  border: 1px solid var(--ev-c-gray-3);
}

.imageStyle {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
