.cmdBoxStyle {
  width: 100%;
  height: 100%;
  flex: 300px;
  background-color: var(--ev-c-black-soft);
  color: var(--ev-c-text-1);
  border: 1px solid var(--ev-c-gray-3);
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.cmdBoxBtn {
  width: 100%;
  padding: 10px;
  background-color: var(--ev-button-alt-bg);
  color: var(--ev-button-alt-text);
  border: 1px solid var(--ev-button-alt-border);
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.2s ease;
  margin-bottom: 8px;
}

.cmdBoxBtn:hover {
  background-color: var(--ev-button-alt-hover-bg);
}

.cmdBoxMl {
  width: 100%;
  padding: 10px;
  background-color: var(--ev-c-black-mute);
  border: 1px solid var(--ev-c-gray-2);
  border-radius: 4px;
  color: var(--ev-c-text-1);
}