.containerStyle {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 50px;
  background-color: var(--ev-c-black-soft);
  border-radius: 12px;
  border: 1px solid var(--ev-c-gray-3);
}

.buttonStyle {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background-color: var(--ev-button-alt-bg);
  color: var(--ev-button-alt-text);
  border: 1px solid var(--ev-button-alt-border);
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: background-color 0.2s;
}

.buttonStyle:hover {
  background-color: var(--ev-button-alt-hover-bg);
}
