.containerStyle {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: '#000';
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
}

.imageStyle {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
