.containerStyle {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  padding: 50px;
}

.buttonStyle {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
