.main1 {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
}

.main1_2 {
  display: flex;
  width: 100%;
  height: 100%;
  gap: 10px;
  flex-direction: column;
  padding: 20px;
  background-color: var(--ev-c-black-mute);
  border-radius: 10px;
  border: 1px solid var(--ev-c-gray-2);
}
